@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-20 bg-gridBg bg-ai-black min-h-screen flex flex-col justify-between;
  }
  header, footer {
    @apply w-full;
  }
  main {
    @apply w-full flex justify-center flex-1;
  }
  .primary-btn {
    @apply transition duration-300 ease-in-out rounded-md bg-ai-primary text-ai-black p-3 w-full hover:bg-ai-secondary border-2 border-ai-black font-bold cursor-pointer;
  }
  .active {
    @apply text-ai-primary border-ai-primary border-b-2;
  }
}

.menu {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}

.menu.open {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    margin: 15px;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    margin: 15px;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    margin: 15px;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    margin: 15px;
    transform: translateY(100%);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  flex: 1;
}
