@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-20 bg-gridBg bg-center font-sans bg-ai-black min-h-screen flex flex-col justify-between;
  }
  header, footer {
    @apply w-full;
  }
  main {
    @apply w-full flex justify-center flex-1;
  }
  .primary-btn { /* primary button styling */
    @apply transition duration-300 ease-in-out rounded-md bg-ai-primary text-ai-black p-3 w-full hover:bg-ai-secondary hover:border-ai-secondary border-2 border-ai-primary font-bold cursor-pointer;
  }
  .toolbar-btn { /* result page button styling */
    @apply text-ai-primary hover:font-bold py-2 px-4 rounded-md border-ai-primary border-2 transition-fill-bg duration-300 ease-in-out hover:bg-ai-primary hover:text-ai-black;
  }
  .build-btn.toolbar-btn { /* build button styling */
    @apply py-2 px-4 bg-ai-primary rounded-md border-ai-primary border-2 transition-fill-bg duration-300 ease-in-out text-ai-black hover:bg-transparent hover:text-ai-primary;
  }
  .active { /* ative nav link styling */
    @apply text-ai-primary border-ai-primary border-b-2;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    margin: 15px;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    margin: 15px;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    margin: 15px;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    margin: 15px;
    transform: translateY(100%);
  }
}

/* Custom font */
@font-face {
  font-family: "Roboto";
  src: url('/font/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('/font/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "RobotoMono";
  src: url('/font/RobotoMono-VariableFont_wght.woff2') format('woff2');
}

/* Scroll styling */
::-webkit-scrollbar {background-color: white;width:5px;}
::-webkit-scrollbar-track {background-color: white;}
::-webkit-scrollbar-thumb {background-color: #6e9b43;cursor: pointer;}
::-webkit-scrollbar-thumb:hover {background: #b3862b;}
/* Scroll styling for CODE section */
#code::-webkit-scrollbar {width: 0.5rem;}
#code::-webkit-scrollbar-track {background-color: #b3862b;}
#code::-webkit-scrollbar-thumb {background-color: black;}
#code::-webkit-scrollbar-thumb:hover {background-color: #B32B2B;}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* flex grow */
#root {
  flex: 1;
}
