@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-20 bg-gridBg bg-center font-sans bg-ai-black min-h-screen flex flex-col justify-between;
  }
  header, footer {
    @apply w-full;
  }
  main {
    @apply w-full flex justify-center flex-1;
  }
  .primary-btn { /* primary button styling */
    @apply transition duration-300 ease-in-out rounded-md bg-ai-primary text-ai-black p-3 w-full hover:bg-ai-secondary hover:border-ai-secondary border-2 border-ai-primary font-bold cursor-pointer;
  }
  .active { /* ative nav link styling */
    @apply text-ai-primary border-ai-primary border-b-2;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    margin: 15px;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    margin: 15px;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    margin: 15px;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    margin: 15px;
    transform: translateY(100%);
  }
}

/* custom font */
@font-face {
  font-family: "Roboto";
  src: url('/font/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('/font/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "RobotoMono";
  src: url('/font/RobotoMono-VariableFont_wght.woff2') format('woff2');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  flex: 1;
}
